<section class="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <h4>Полезная информация</h4>
      </div>
    </div>
  </div>
</section>
<section class="ptb20">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4 class="ptb20">Источники базы данных</h4>
        <p>
          Сервис UrBase Info аккумулирует данные из открытых источников российских интернет-площадок (Яндекс, 2ГИС и т.п.). Индексирующий
          робот нашего сервиса регулярно собирает актуальную информацию о юридических лицах России и пополняет базу данных
          сервиса, не нарушая авторских прав.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h4 class="ptb20">Законодательство</h4>
        <p>
          Наш сервис осуществляет свою деятельность на основании Статьи 6 Федерального закона от 08.08.2001г. № 129-ФЗ «О государственной
          регистрации юридических лиц», в соответствии с которой сведения, содержащиеся в едином государственном реестре
          юридических лиц, являются открытыми и общедоступными (за исключением паспортных данных физических лиц и сведений
          о банковских счетах юридических лиц и индивидуальных предпринимателей).
        </p>
        <p>
          Статьи 7 Федерального закона от 27.07.2006 №149-ФЗ «Об информации, информационных технологиях и защите информации», на основании
          которой общедоступная информация может использоваться любыми лицами по их усмотрению при соблюдении установленных
          федеральными законами ограничений в отношении распространения такой информации.
        </p>
        <p>
          Статьи 10 Федерального закона от 27.07.2006 №149-ФЗ «Об информации, информационных технологиях и защите информации», в соответствии
          с которой предоставление информации осуществляется в порядке, который устанавливается соглашением лиц, участвующих
          в обмене информацией.
        </p>
      </div>
    </div>
  </div>
</section>