<section class="main ptb80">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>UrBase Info</h2>
                <h4 class="text-blue">Актуальная база юридических лиц РФ</h4>
            </div>
        </div>
        <div class="row mt20">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
                <div class="input-group input-group-lg">
                    <input class="form-control" id="tbxOkvedMainSearch" type="text" autocomplete="off" placeholder="Введите поисковый запрос" (keydown.enter)="onSearchPressKeyDown($event)" [(ngModel)]="searchRequest" />
                    <span class="input-group-btn">
                      <button class="btn btn-my btn-blue btn-effect btn-responsive btn-my-lg" 
                        id="btnOkvedMainSearch" (click)="btnSearchClicked();">Найти </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pricing-offers ptb60">
    <div class="container">
        <div class="section-title">
            <h2>Базы контрагентов по категориям</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 pricing-plan">
                <div class="price-box">
                    <div class="price-features" style="background-image: url('/assets/images/moskva.jpg')">
                    </div>
                    <h5 class="ptb20">
                        <strong>Москва и Московская область</strong>
                    </h5>
                    <p class="lead">Контактов: 1 270 000</p>
                    <a [routerLink]="['/data']" [queryParams]="{baseType: 'moscow'}" class="btn btn-my btn-blue btn-my-effect">Перейти</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 pricing-plan">
                <div class="price-box">
                    <div class="price-features" style="background-image: url('/assets/images/s-piter.jpg')">
                    </div>
                    <h5 class="ptb20">
                        <strong>Санкт-Петербург и Ленинградская область</strong>
                    </h5>
                    <p class="lead">Контактов: 600 000</p>
                    <a [routerLink]="['/data']" [queryParams]="{baseType: 'spiter'}" class="btn btn-my btn-blue btn-my-effect">Перейти</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 pricing-plan">
                <div class="price-box">
                    <div class="price-features" style="background-image: url('/assets/images/e-burg.jpg')">
                    </div>
                    <h5 class="ptb20">
                        <strong>Екатеринбург и Свердловская область</strong>
                    </h5>
                    <p class="lead">Контактов: 160 000</p>
                    <a [routerLink]="['/data']" [queryParams]="{baseType: 'eburg'}" class="btn btn-my btn-blue btn-my-effect">Перейти</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4 pricing-plan">
                <div class="price-box">
                    <div class="price-features" style="background-image: url('/assets/images/stroike.jpg')">
                    </div>
                    <h5 class="ptb20">
                        <strong>Строительство и благоустройство</strong>
                    </h5>
                    <p class="lead">Контактов: 11 000</p>
                    <a [routerLink]="['/data']" [queryParams]="{baseType: 'stroika'}" class="btn btn-my btn-blue btn-my-effect">Перейти</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 pricing-plan">
                <div class="price-box">
                    <div class="price-features" style="background-image: url('/assets/images/prodazha.png')">
                    </div>
                    <h5 class="ptb20">
                        <strong>Торговля и деятельность в сфере продаж</strong>
                    </h5>
                    <p class="lead">Контактов: 55 000</p>
                    <a [routerLink]="['/data']" [queryParams]="{baseType: 'torg'}" class="btn btn-my btn-blue btn-my-effect">Перейти</a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 pricing-plan">
                <div class="price-box">
                    <div class="price-features" style="background-image: url('/assets/images/odezhda.jpg')">
                    </div>
                    <h5 class="ptb20">
                        <strong>Одежда и производство текстиля/ткани</strong>
                    </h5>
                    <p class="lead">Контактов: 5000</p>
                    <a [routerLink]="['/data']" [queryParams]="{baseType: 'odezhda'}" class="btn btn-my btn-blue btn-my-effect">Перейти</a>
                </div>
            </div>
        </div>

        <div class="row mt40">
            <div class="col-md-12 text-center">
                <a class="btn btn-my btn-blue btn-my-effect" routerLink="/data">Показать остальные</a>
            </div>
        </div>
    </div>
</section>

<section class="countup ptb60">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 counter-item">
                <span class="counter" data-from="0" data-to="85">85</span>
                <h4>субъектов РФ</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 counter-item">
                <span class="counter" data-from="0" data-to="5">5</span>
                <h4>млн. юридических лиц</h4>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 counter-item">
                <span class="counter" data-from="0" data-to="2887">2887</span>
                <h4>кодов ОКВЭД</h4>
            </div>
        </div>
    </div>
</section>

<section class="about-us pt30" id="about-us">
    <div class="container">
        <div class="col-md-6 pt30 pb30">
            <h2>О нас</h2>
            <p class="ptb20">
                Кто владеет информацией - тот владеет ситуацией!
                <br /> Сервис UrBase Info предоставляет
                <span class="highlighted"> регулярно обновляемую базу данных юридических лиц России</span> , позволяет легко находить клиентов и бизнес-партнеров, увеличивает продажи при обращении к целевой аудитории, дает актуальные данные о контрагентах.
                Наша картотека содержит контактные данные
                <span class="highlighted">более 5 миллионов руководителей организаций России.</span>
                <br />UrBase Info - Ваш надежный помощник в бизнеса.
            </p>
            <a class="btn btn-my btn-blue btn-my-effect" routerLink="/about-us">Подробнее</a>
        </div>
        <div class="col-md-6 about-us-logo pt30">
            <img src="/assets/images/about-us.jpg" />
        </div>
    </div>
</section>

<section class="features ptb60" id="services">
    <div class="container">
        <div class="section-title">
            <h2>Наши преимущества</h2>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 feature">
                <img class="feature-icon" src="/assets/images/audience-64.png" alt="" />
                <img class="feature-back-icon" src="/assets/images/audience-64.png" alt="" />
                <h4>Целевая аудитория</h4>
                <p class="pt10">
                    Возможность использования различных критериев поиска позволит найти только интересующие Вас юридические лица, тем самым оптимизируя процесс поиска новых клиентов. Сервис предоставляет фильтры поиска по региону, области деятельности, дате регистрации и
                    множеству других параметров, а также стимулирует увеличение продаж, благодаря обращению к целевой аудитории.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 feature">
                <img class="feature-icon" src="/assets/images/graphics-64.png" alt="" />
                <img class="feature-back-icon" src="/assets/images/graphics-64.png" alt="" />
                <h4>Актуальные данные</h4>
                <p class="pt10">
                    Сервис UrBase Info предоставляет актуальную и регулярно обновляемую базу юридических лиц РФ, которая содержит информацию о компании, ФИО и контактные данные руководителя, коды ОКВЕД, ИНН, ОГРН, ОКАТО и множество другой полезной информации. Используйте
                    полученные данные для поиска новых партнеров и клиентов, заключений сделок и расширения Вашего бизнеса.
                </p>
            </div>
            <div class="col-md-4 col-sm-4 feature">
                <img class="feature-icon" src="/assets/images/cloud-64.png" alt="" />
                <img class="feature-back-icon" src="/assets/images/cloud-64.png" alt="" />
                <h4>Простота и удобство</h4>
                <p class="pt10">
                    Концепция адаптивного минималистичного интерфейса, использованного при разработке сервиса UrBase Info, упрощает работу пользователей, способствуя максимально быстрому и эффективному поиску целевой аудитории из общего каталога контрагентов. Сервис поддерживается
                    всеми современными браузерами и обеспечивает комфортную работу на мобильных устройствах.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ask-question ptb50">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="question-icon">
                    <img src="/assets/images/ask-question.svg" alt="" />
                </div>
                <h2>Появился вопрос?</h2>
                <p>Наш адрес электронной почты для связи: </p>
                <a class="mailto" href="mailto:urbase.info@gmail.com">urbase.info@gmail.com</a>
            </div>
            <div class="col-md-4 cta">
                <a class="btn btn-my btn-green btn-effect" routerLink="/contact">Связаться с нами</a>
            </div>
        </div>
    </div>
</section>