<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4>Поиск юридических лиц</h4>
            </div>
        </div>
    </div>
</section>
<section class="main ptb30">
    <div class="container">
        <div class="col-md-12">
            <div class="input-group input-group-lg">
                <input class="form-control" id="tbxOkvedMainSearch" type="text" autocomplete="off" placeholder="Введите поисковый запрос"
                    (keydown.enter)="onSearchPressKeyDown($event)" [(ngModel)]="searchRequest" />
                <span class="input-group-btn">
                    <button class="btn btn-my btn-blue btn-effect btn-responsive btn-my-lg" (click)="btnSearchClicked();"
                        id="btnOkvedMainSearch">Найти </button>
                </span>
            </div>
        </div>
    </div>
</section>

<section class="domain-page checkout pt20">
    <div class="container">
        <div class="col-md-12">
            <div *ngIf="!IsLoading" class="table-responsive-results">
                <span>Найдено юридических лиц:&nbsp;</span>
                <span class="table-responsive-results-count">{{CompaniesTotalCount}}</span>
            </div>
            <div *ngIf="IsLoading" class="table-responsive-results">
                <span>Загрузка...</span>
            </div>
        </div>

        <div class="col-md-9 domain-results mb30" *ngIf="!IsLoading || Companies.length > 0">
            <div class="table-responsive">
                <table class="table cart" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScroll()">
                    <thead>
                        <tr>
                            <th>Наименование </th>
                            <th>Отрасль </th>
                            <th>Регион</th>
                            <th>Руководитель</th>
                            <th>Телефон</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="cart-item" *ngFor="let company of Companies">
                            <td>
                                <a target="_blank" [routerLink]="['/company', company.id]">{{company.name}}</a>
                            </td>
                            <td>
                                <span>{{company.area}}</span>
                            </td>
                            <td>
                                <span>{{company.region}}</span>
                            </td>
                            <td>
                                <span>{{company.head}}</span>
                            </td>
                            <td>
                                <span>{{company.phone}}</span>
                            </td>
                            <td>
                                <span>{{company.email}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <aside class="col-md-3">
            <div class="domain-sidebar shadow-hover mb20">
                <div class="extensions">
                    <h4>Деятельность</h4>
                    <ul id="ulDataPageOkved">
                        <li *ngFor="let okved of Okveds; let i = index">
                            <input type="checkbox" [(ngModel)]="okved.checked" [name]="okved.title" [value]="okved.id" id="okved{{i}}" />
                            <label for="okved{{i}}">
                                {{okved.title}}
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="domain-sidebar shadow-hover mb20">
                    <div class="extensions">
                        <h4>Регионы</h4>
                        <ul id="ulDataPageRegions">
                            <li *ngFor="let region of Regions; let i = index">
                                <input type="checkbox" [(ngModel)]="region.checked" [name]="region.title" [value]="region.id" id="region{{i}}" />
                                <label for="region{{i}}">
                                    {{region.title}}
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
        </aside>
    </div>
</section>