<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <h4>Поиск юридических лиц</h4>
            </div>
        </div>
    </div>
</section>
<section class="main ptb30">
    <div class="container">
        <div class="col-md-12">
            <div class="input-group input-group-lg">
                <input class="form-control" id="tbxOkvedMainSearch" type="text" autocomplete="off" placeholder="Введите поисковый запрос"
                    (keydown.enter)="onSearchPressKeyDown($event)" [(ngModel)]="searchRequest" />
                <span class="input-group-btn">
                    <button class="btn btn-my btn-blue btn-effect btn-responsive btn-my-lg" (click)="btnSearchClicked($event);"
                        id="btnOkvedMainSearch">Найти </button>
                </span>
            </div>
        </div>
    </div>
</section>

<section class="domain-page checkout pt20">
    <div class="container">
        <div class="col-md-12">
            <div *ngIf="!IsLoading" class="table-responsive-results">
                <span>Найдено юридических лиц:&nbsp;</span>
                <span class="table-responsive-results-count">{{CompaniesTotalCount}}</span>
            </div>
            <div *ngIf="IsLoading" class="table-responsive-results">
                <span>Загрузка...</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 domain-results mb30">
                <div class="table-responsive">
                    <table class="table cart" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScroll()">
                        <thead>
                            <tr>
                                <th>Наименование </th>
                                <th>Отрасль </th>
                                <th>Регион</th>
                                <th>Руководитель</th>
                                <th>Телефон</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="cart-item" *ngFor="let company of Companies">
                                <td>
                                    <a target="_blank" [routerLink]="['/company', company.id]">{{company.name}}</a>
                                </td>
                                <td>
                                    <span>{{company.area}}</span>
                                </td>
                                <td>
                                    <span>{{company.region}}</span>
                                </td>
                                <td>
                                    <span>{{company.head}}</span>
                                </td>
                                <td>
                                    <span>{{company.phone}}</span>
                                </td>
                                <td>
                                    <span>{{company.email}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-md-3 blog-sidebar mb30">
                <div style="padding-left: 10px;">
                    <h4>Регионы</h4>

                    <div class="extensions">
                        <input type="text" class="mt10" [(ngModel)]="regionsFilter" *ngIf="IsVisibleAllRegions" />

                        <ul>
                            <li *ngFor="let region of FoundedRegionItems | orderBy: 'title'; let i = index;">
                                <input type="checkbox" [checked]="region.checked" [name]="region.title" 
                                    [value]="region.id" id="region{{i}}" (change)="onSelectRegion($event, region)" />
                                <label for="region{{i}}">
                                    {{region.title}}
                                </label>
                             </li>
                         </ul>

                         <a href="#" *ngIf="!IsVisibleAllRegions && FoundedRegionItemsCount > 10" (click)="onShowAllRegions_Clicked($event)">Показать все</a>
                         <a href="#" *ngIf="IsVisibleAllRegions" (click)="onHideAllRegions_Clicked($event)">Скрыть</a>
                     </div>
                </div>

                <div class="mt30" style="padding-left: 10px;">
                    <h4>Деятельность</h4>

                    <div class="extensions">
                            <input type="text" class="mt10" [(ngModel)]="okvedFilter" *ngIf="IsVisibleAllOkveds" />
    
                            <ul>
                                <li *ngFor="let okved of FoundedOkvedItems | orderBy: 'title'; let i = index;">
                                    <input type="checkbox" [checked]="okved.checked" [name]="okved.title" 
                                        [value]="okved.id" id="okved{{i}}" (change)="onSelectOkved($event, okved)" />
                                    <label for="okved{{i}}" [title]="okved.title">
                                        {{okved.title | truncate:[50, '...']}}
                                    </label>
                                 </li>
                             </ul>
    
                             <a href="#" *ngIf="!IsVisibleAllOkveds && FoundedOkvedItemsCount > 10" (click)="onShowAllOkveds_Clicked($event)">Показать все</a>
                             <a href="#" *ngIf="IsVisibleAllOkveds" (click)="onHideAllOkveds_Clicked($event)">Скрыть</a>
                         </div>
                </div>
            </div>
        </div>
    </div>
</section>